---
author:
  - name: Gordon Henson
    url: 'http://vimeo.com/user494643'
    avatar:
      src: 'https://i.vimeocdn.com/portrait/8894528_75x75.jpg'
      width: 75
      height: 75
      colors:
        - - 12
          - 9
          - 10
        - - 111
          - 69
          - 53
        - - 173
          - 117
          - 93
related: []
publisher:
  url: 'https://vimeo.com/'
  name: Vimeo
  favicon: 'https://f.vimeocdn.com/images_v6/favicon_32.ico'
  domain: vimeo.com
keywords: []
description: This was an early version of the video. We where playing around with the tone and the pacing. We ultimately concluded that it needed to be punchier and quicker to the main points. It was still a lot of fun to do.
inLanguage: fr
app_links:
  - url: 'vimeo://108737447'
    type: ios
    app_store_id: '425194759'
    app_name: Vimeo
isBasedOnUrl: 'https://vimeo.com/108737447'
title: The Grid - Presentation Test Run
datePublished: '2015-06-22T05:03:29.525Z'
dateModified: '2015-06-22T05:03:29.525Z'
sourcePath: _posts/2015-06-22-the-grid-presentation-test-run.md
published: true
_type: VideoObject
_context: 'http://schema.org'

---
<iframe src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F108737447&amp;url=https%3A%2F%2Fvimeo.com%2F108737447&amp;image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F492512851_1280.jpg&amp;key=b7d04c9b404c499eba89ee7072e1c4f7&amp;type=text%2Fhtml&amp;schema=vimeo" width="1000" height="563" scrolling="no" frameborder="0" allowfullscreen="allowfullscreen" style=""></iframe>